.gui-bottom-bar{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 4em;
  width: 100%;
  background-color: #ededed;
}


.gui-bottom-toolbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
